@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import 'variables';

* {
  padding: 0;
  margin: 0;
  font-family:'PT Sans', sans-serif;
}

body{
  margin: 10px;
  @include tablet{
    max-width:800px;
    margin: 30px auto;
  }
}

h1{
  text-align:center;
}

.video-wrapper .mejs__container{
  width:100% !important;
}

.captions{
  padding:15px;

  p{
    line-height:1.5;
    margin-top:20px;
    @include tablet{
      font-size:1.2em;
    }
  }
}

div.mejs__controls{
  background:rgba(0,0,0,0.8) !important;
}

.highlighted{
  background-color: $highlight;
}
